body {
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgb(238, 201, 201);
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1px 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 40px;
  height: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

a {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.navbar ul li a {
  text-decoration: none;
  display: inline-block;
  margin-left: 30px;
}

.logo {
  color: black;
}

.logo-m {
  font-size: 30px;
  font-weight: 700;
  /* stylelint-disable-next-line color-function-notation */
  text-shadow: 2px 3px rgb(204, 200, 200);
  padding-right: 6px;
}

.logo-a {
  font-size: 22px;
  font-weight: 600;
}
