body {
  background-color: white;
  font-family: Poppins, sans-serif;
}

/* General start */

a {
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

/* General End */

/* Header start */

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2px 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 40px;
  height: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  display: inline-block;
  margin-left: 30px;
}

.logo {
  color: black;
}

.logo-m {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 3px #d3cfcf;
  padding-right: 6px;
  font-family: "Great Vibes", serif;
  font-style: normal;
}

.logo-a {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
}

/* Header End */

/* Main content Start */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hi {
  font-size: 40px;
  font-weight: 600;
}

.iam {
  font-size: 35px;
  font-weight: 600;
  color: brown;
  margin-top: 20px;
  margin-bottom: 20px;
}

.myname {
  font-family: "Great Vibes", serif;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 700;
  color: #105f06;
}

.para-details {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* Side image Start */

.photo {
  height: 250px;
  margin-left: 20px;
  margin-top: 50px;
  box-shadow: 8px 8px 15px rgba(0 0 0 / 50%);
}

/* Side image End */

/* Main content End */

/* Button Start */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.find-me {
  background-color: brown;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  padding: 10px 15px;
  border: solid black 2px;
  margin-right: 10px;
}

.my-cv {
  background-color: green;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  padding: 10px 15px;
  border: solid black 2px;
}

.find-me:hover {
  background-color: green;
}

.my-cv:hover {
  background-color: brown;
}

/* Buttons End */

/* Languages Known Start */

.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: #f06451;
  border: 2px solid #1a1818;
}

.languages-known {
  background-color: #a82e08;
  width: 120px;
  height: 220px;
  margin-left: 40px;
  box-shadow: 8px 8px 15px #e0dfdf80;
}

.lang-header {
  font-size: 25px;
  font-weight: 600;
  color: #f1ecec;
  height: 120px;
  width: 300px;
  transform: rotate(-90deg);
}

.language-names {
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #e6dcdc;
  background-color: #08532e;
  box-shadow: 8px 8px 15px rgba(0 0 0 / 50%);
}

.language-arrow {
  padding: 20px;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.language-prof {
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #0c8a07;
  background-color: #fff;
  box-shadow: 8px 8px 15px rgba(0 0 0 / 50%);
}

/* Languages Known End */
